md-button.md-raised.md-primary(ui-sref="feed")
  i.fa.fa-arrow-left
  | Back to Videos

md-card.detail(layout="column" layout-padding)
  span.md-headline {{detail.flag.snippet.title}}
  span.md-subhead.video__details__subtitle Published on {{detail.convertDate(detail.flag.snippet.publishedAt)}}

  md-content.detail__content(layout="column" layout-gt-sm="row")
    div(flex-gt-sm="60")
      div.videowrapper
        youtube-video(video-id="detail.flag.snippet.resourceId.videoId")
    p.detail__content__description(flex-gt-sm="40" hide-xs hide-sm) {{detail.flag.snippet.description | limitTo: 250}}
      span(ng-if="detail.flag.snippet.description.length>250") ...
    p.detail__content__description(flex-gt-sm="40" hide-gt-sm) {{detail.flag.snippet.description | limitTo: 350}}
      span(ng-if="detail.flag.snippet.description.length>350") ...