// $mobile-width: 480px;
// $tablet-width: 768px;

// @mixin mobile {
//   @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media (min-width: #{$tablet-width}) {
//     @content;
//   }
// }

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4, $bgColor: white);
}

.video {
  &__thumb {
    img {
      cursor: pointer;
      max-width: 100%;
      height: auto;
    }
  }

  &__details {
    overflow: hidden;
  }

  &__details__title {
    cursor: pointer;
  }

  &__details__description {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}