div(flex layout="column")
  md-toolbar(layout="row" class="md-whiteframe-z2")
    .md-toolbar-tools(layout layout-align = "space-between center")
      md-button(layout layout-align = "center center")
        img(src="assets/images/beyond-logo.svg")
      h2#[span My Youtube]

  div(flex layout="row")
    md-content(flex)
      ui-view
