md-toolbar
  .md-toolbar-tools(layout layout-align = "space-between center")
    md-button(layout layout-align = "center center")
      img(src="assets/images/beyond-logo.svg")
    h2#[span My Youtube]

ui-view
