body {
  background-image: url('/assets/images/phonograph-background.png');
  background-repeat: repeat;
}

.feed-container {
  height: 94vh;
  padding: 0;
  margin: 0;
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.feed {
  background: none;
}

// video
.video {
  // video__thumb
  &__thumb {
    img {
      cursor: pointer;
      max-width: 100%;
      height: auto;
    }
  }

  // video__details
  &__details {

    // video__details__title
    &__title {
      cursor: pointer;
      &:hover {
        color: rgb(199, 9, 90);
      }
    }

    &__subtitle {
      color: gray;
    }
  }
}

// detail
.detail {
  &__content__description {
    padding: 0px 15px;
    word-wrap: break-word;
  }
}

// Utils
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}